@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #787878;
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}
.soundwave {
  width: 150%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  background-size: 400% 400%;
  animation: soundwave 1.2s ease-in-out infinite;
}

.slide_left{
  transform: translateX(-120px);
}
